target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/sonarlint/issuestore/0/7/079cf1c9918d713599db9b00e24624db6bccaf38
.idea/sonarlint/issuestore/1/2/12682a6f013c68302217601b8318c0ab6ef16652
.idea/sonarlint/issuestore/0/7/079cf1c9918d713599db9b00e24624db6bccaf38
.idea/sonarlint/issuestore/3/5/35e8ca8e7096ecd3b4597087ae643968e484825e
.idea/sonarlint/issuestore/2/b/2bb9b71d32e6dfedb96ab8bd096567f72d8ef5a3
.idea/sonarlint/issuestore/0/7/079cf1c9918d713599db9b00e24624db6bccaf38
.idea/sonarlint/issuestore/0/7/079cf1c9918d713599db9b00e24624db6bccaf38
.idea/sonarlint/issuestore/3/8/3876c885a4bb824f7d6bd89b8b33356bc1e90041
.idea/sonarlint/issuestore/5/b/5bfd4736b85baf8011c6b3c3eb6117b5c502886c
.idea/sonarlint/issuestore/7/e/7e7dee79f92dbe64359fd9ebe5ed6a99d3fd3682
.idea/sonarlint/issuestore/c/a/caad89973808aa70534caf1a47b480b7c2ab8c2c
.idea/sonarlint/issuestore/0/7/079cf1c9918d713599db9b00e24624db6bccaf38
